Checks: >
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,
  portability-*,
  -readability-identifier-length,
  -clang-analyzer-cplusplus*,
  -modernize-* 

# WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
